@charset "PT-BR";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,300;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,300;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,300;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fontlogo:"Montserrat";
    --fontmenu:"Roboto";
    --fonttext:"Roboto Serif";
}


header{
    background-color: black;
    color: white;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > div#cabeca{
    padding: 10px;
    font-family:"Montserrat";
    font-weight: bold;
}

header div#cabeca >h1{
    font-family:"Montserrat";
    font-weight: bold;
    font-size: 2em;
    margin-top: 0;
    
}
header > p{
    font-family:"Montserrat";
    text-align: center;
    font-weight: 0;
    padding: 10px;
  
}

main{
    height: 100%;
}

.conteiner{
    background-color:#04594D;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    padding-bottom: 10px;

}
@media (max-width:500px){
    .conteiner{
        width: 300px;
        
    }
}

h1#titulo{
    padding: 15px;
    color: white;
    font-family: var(--fontlogo);
    font-weight: bold;
    font-size: 1.7em;
}

input{
    padding: 10px;
    border-radius: 2px;
    border: none;
    font-family: var(--fontmenu);
    
}

button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-family: var(--fontmenu);
   
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

footer>h1{
    width: 50%;
    text-align: center;
    font-family: var(--font);
    font-weight: bold;
}

footer>span{
    width: 50%;
    text-align: center;
}

